:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --hero-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f4f4fd;
  --accent-color: #404bbf;
  --secondary-accent-color: #4d5ae5;
  --border-color: #e7e9fc;
  --path-icon-color: #4d5ae5;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-style {
  list-style: none;
}

.link {
  font-style: normal;
  text-decoration: none;

  color: var(--primary-text-color);
}

.btn {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;

  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Mobile styles of Studio */

/* Header */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

.main-header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;

  padding-top: 24px;
  padding-bottom: 24px;

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.web-logo {
  color: #4d5ae5;
}

.menu-nav {
  display: none;
}

.address-info {
  display: none;
}

/* Mobile menu */

.open-mobile-menu-button {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
}

.open-mobile-menu-icon {
  stroke: var(--secondary-text-color);
}

.mobile-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 796px;
  height: 100%;
  z-index: 1000;

  background-color: var(--primary-bg-color);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
}

.close-mobile-menu-button {
  position: absolute;
  top: 24px;
  right: 15px;

  transform: translateX(-20%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  line-height: 0;

  width: 24px;
  height: 24px;

  color: var(--secondary-text-color);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.close-mobile-menu-button:hover,
.close-mobile-menu-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.close-mobile-menu-icon {
  fill: currentColor;
}

.mobile-menu-content-container {
  display: flex;
  flex-direction: column;
  gap: 284px;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-nav-link {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.mobile-menu-nav-link.current {
  color: var(--accent-color);
}

.mobile-menu-address-item:first-child {
  margin-bottom: 40px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-address-item:first-child {
    margin-bottom: 20px;
  }
}

.mobile-menu-address-item:last-child {
  margin-bottom: 48px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-address-item:last-child {
    margin-bottom: 28px;
  }
}

.mobile-menu-address-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-accent-color);
}

.mobile-menu-email {
  display: inline-block;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;

  color: var(--primary-text-color);
}

.mobile-menu-social-list {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .mobile-menu-social-list {
    gap: 10px;
  }
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-and-func);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: var(--accent-color);
}

.mobile-menu-social-icon {
  fill: currentColor;
}

/* Hero section */

.hero-section {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;

  background-image: linear-gradient(#2e2f42b3, #2e2f42b3),
    url('../images/mobile-images/hero-image/hero-bg.jpg');
  background-position: center top;
  background-size: 428px 432px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 348px) {
  .hero-section {
    padding-top: 92px;
    padding-bottom: 92px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3),
      url('../images/mobile-images/hero-image/hero-bg@2x.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
screen and (min-resolution: 288dpi) and (max-width: 767px),
screen and (min-resolution: 3dppx) and (max-width: 767px) {
  .hero-section {
    background-image: linear-gradient(#2e2f42b3, #2e2f42b3),
      url('../images/mobile-images/hero-image/hero-bg@3x.jpg');
  }
}

.hero-title {
  max-width: 320px;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--hero-text-color);
}

.primary-btn {
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--hero-text-color);
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-and-func);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--accent-color);
}

/* Advantages section */

.advantage-section {
  padding-left: 1px;
  padding-right: 1px;
}

.adventage-item:not(:last-child) {
  margin-bottom: 72px;
}

.adventage-icon {
  display: none;
}

.advantage-section-subtitle {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.advantage-subtitle-descr:not(:last-child) {
  margin-bottom: 72px;
}

/* Works section */

@media screen and (max-width: 767px) {
  .works-section {
    display: none;
  }
}

/* Team section */

.team-section {
  background-color: var(--secondary-bg-color);
}

.section-title {
  margin-bottom: 72px;

  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--secondary-text-color);
}

.team-item {
  margin-left: auto;
  margin-right: auto;
  max-width: 264px;
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-card-content-container {
  padding-top: 32px;
  padding-bottom: 32px;

  background: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-section-subtitle {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.team-subtitle-descr {
  margin-bottom: 8px;

  font-weight: 400;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: currentColor;
}

/* Customers section */

.customers-section {
  padding-left: 1px;
  padding-right: 1px;
}

.customers-list {
  margin: -8px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 56px;
}

.customers-list-item {
  margin: 8px;

  width: calc((100% - 4 * 8px) / 2);
  height: 88px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-list-icon {
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  text-align: center;
  background-color: #2e2f42;
}

.footer-flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-logo {
  margin-bottom: 16px;
  padding: 0;

  color: #f4f4fd;
}

.footer-descr {
  max-width: 268px;

  font-weight: 400;
  text-align: left;

  color: #f4f4fd;
}

.media-and-form-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.footer-subtitle {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}

.footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: #f4f4fd;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-dur-and-func);
}

.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

.footer-list-icon {
  fill: currentColor;
}

.footer-form-descr {
  margin-bottom: 16px;

  color: #ffffff;
}

.footer-label-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-form-input {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;

  max-width: 398px;
  width: 100%;
  height: 40px;

  padding-left: 16px;

  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;

  transition: border-color var(--transition-dur-and-func);
}

.footer-form-input:focus {
  outline: none;
  border-color: #ffffff;
}

.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2 !important;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.footer-form-input:-webkit-autofill {
  box-shadow: inset 0 0 0 20px #2e2f42;
  -webkit-text-fill-color: #ffffff;
}

.footer-form-submit {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 8px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: #4d5ae5;
  border: none;
  border-radius: 4px;

  color: #ffffff;

  transition: background-color var(--transition-dur-and-func);
}

.footer-form-submit:focus,
.footer-form-submit:hover {
  background-color: var(--accent-color);
}

.footer-form-input-icon {
  fill: currentColor;
}

/* Mobile styles of Portfolio */

.filter-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.filter-btn-list {
  margin-bottom: 48px;
}

.filter-btn-item {
  display: inline-block;
}

.filter-btn-item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (max-width: 331px) {
  .filter-btn-item:not(:last-child) {
    margin-right: 6px;
  }
}

.filter-btn-item:nth-child(-n + 3) {
  margin-bottom: 16px;
}

.secondary-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  color: #4d5ae5;
  background-color: #f4f4fd;

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);

  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item {
  display: inline-block;
  max-width: 396px;
  width: 100%;
  max-height: 400px;
  height: 100%;
}

.filter-item:not(:last-child) {
  margin-bottom: 48px;
}

.filter-link {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}

.filter-link:hover,
.filter-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-link:hover .overlay,
.filter-link:focus .overlay {
  transform: translateY(0);
}

.filter-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 32px;
  padding-right: 32px;

  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);

  font-weight: 400;

  color: #f4f4fd;
  background-color: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;

  transition: transform var(--transition-dur-and-func);
}

.filter-card-content-container {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;

  border: 1px solid var(--border-color);
  border-top: none;
}

.section-subtitle {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.subtitle-descr {
  font-weight: 400;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func),
    transform var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 392px;
  height: 100%;
  max-height: 586px;

  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-dur-and-func);
}

@media screen and (max-width: 399px) {
  .modal {
    padding-top: 52px;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 427px) {
  .modal {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  width: 24px;
  height: 24px;

  color: #000000;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.modal-close-btn-icon {
  fill: currentColor;
}

/* Modal form */

.modal-form {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 16px;

  color: var(--secondary-text-color);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-descr {
  display: block;

  margin-bottom: 4px;

  color: #8e8f99;
}

.modal-form-input-container {
  display: block;
  position: relative;
}

.modal-form-input {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;

  width: 100%;
  height: 40px;

  padding-left: 38px;

  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-accent-color);
}

.modal-form-input:not(:placeholder-shown):required:invalid {
  border-color: red;
}

.modal-form-input:-webkit-autofill {
  box-shadow: inset 0 0 0 20px #ffffff;
  -webkit-text-fill-color: var(--primary-text-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translate(0, -50%);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus+.modal-form-input-icon {
  fill: var(--path-icon-color);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-form-message {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.02em;

  resize: none;
  width: 100%;
  height: 120px;

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;

  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-dur-and-func);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-accent-color);
}

.modal-form-check-descr {
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 24px;

  color: #8e8f99;
}

.modal-form-check {
  position: absolute;
  top: 100%;
  left: 8px;

  appearance: none;
  opacity: 0;
  width: 1px;
  height: 1px;
}

.modal-form-check:checked+.modal-form-fake-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-check:focus+.modal-form-fake-checkbox {
  outline: 1.25px solid #000000;
}

.modal-form-check:checked+.modal-form-fake-checkbox .modal-form-checkbox-icon {
  opacity: 1;
}

.modal-form-fake-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  margin-right: 8px;

  color: #f4f4fd;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;

  transition: background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.modal-form-checkbox-icon {
  fill: currentColor;
  opacity: 0;

  transition: opacity var(--transition-dur-and-func);
}

.form-check-descr-link {
  color: #4d5ae5;
}

.modal-form-submit {
  align-self: center;
  width: 100%;
  max-width: 169px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
  padding-right: 32px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: #ffffff;
  background-color: #4d5ae5;

  transition: background-color var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent-color);
}